.character-container {
    position: fixed;
    bottom: 5vh;
    transform: translate(0, -50%);
}

.character {
    position: absolute;
    bottom: 5vh;
    transition: left 0.5s ease-in-out;
}
  
.character img {
    height: 80px;
    width: 75px; 
}
