.container {
    text-align: center;
}
  
.tamagochi-heading {
    margin-top: 10vh; /* Adjust as needed */
    font-size: 5em; /* Adjust the font size as needed */
}

.words-heading {
    margin-top: 10vh; /* Adjust as needed */
    font-size: 5em; /* Adjust the font size as needed */
}
  